---
import HeroSlider from "./HeroSlider.astro";
---

<section class='w-full h-full'>
  <div
    class='container flex flex-col sm:flex-row gap-4 pb-24 pt-48 lg:pt-96 lg:pb-60'
  >
    <div class='flex-1'>
      <h1>It goes without the internal It <br />may reveal 2030</h1>
    </div>

    <div class='flex-1'>
      <p class='leading-7 lg:text-xl lg:leading-8'>
        So far so good, but the possibility of achieving with help of the
        software engineering concepts and practices, as far as the first-class
        package is questionable, the production cycle.
      </p>

      <a
        class='inline-block py-2 px-8 border border-accent bg-accent text-black rounded-full mt-8'
        href='/leistungen'>unsere Leistungen</a
      >
    </div>
  </div>
  <HeroSlider />
</section>
