---
import { Icon } from "astro-icon/components";
---

<section class='w-full h-full px-4'>
  <div class='bg-background_light rounded-2xl py-8 sm:py-16 lg:py-32'>
    <div class='container'>
      <h4 class='text-black mb-8 flex items-center gap-x-2'>
        <span class='inline-block bg-accent size-4 rounded-full'
        ></span>Solutions
      </h4>
      <span class='inline-block bg-gray w-full h-[1px] mb-12'></span>
      <h2 class='text-black'>Key to clean future</h2>
    </div>

    <div
      class='container grid md:grid-cols-2 lg:grid-cols-4 gap-4 gap-x-8 mt-14 lg:mt-28'
    >
      <!-- item -->
      <div
        class='grid justify-items-center md:justify-items-start
         grid-rows-subgrid row-span-4'
      >
        <div
          class='flex items-center justify-center size-12 bg-accent rounded-xl'
        >
          <Icon name='flower' size={36} />
        </div>
        <h3 class='text-black'>Gartenanlagen</h3>
        <p class='text-gray'>
          One way or another, the negative impact of the product functionality
          is recognized by The Agenda of Hypothetical Duplication On
        </p>

        <a class='text-black flex items-center' href='/'
          >mehr erfahren <span><Icon name='arrow-right' size={38} /></span></a
        >
      </div>
      <!-- item -->
      <div
        class='grid justify-items-center md:justify-items-start
       grid-rows-subgrid row-span-4'
      >
        <div
          class='flex items-center justify-center size-12 bg-accent rounded-xl'
        >
          <Icon name='flower' size={36} />
        </div>
        <h3 class='text-black'>Pflasterbau</h3>
        <p class='text-gray'>
          One way or another, the negative impact of the product functionality
          is recognized by The Agend
        </p>

        <a class='text-black flex items-center' href='/'
          >mehr erfahren <span><Icon name='arrow-right' size={38} /></span></a
        >
      </div>
      <!-- item -->
      <div
        class='grid justify-items-center md:justify-items-start
       grid-rows-subgrid row-span-4'
      >
        <div
          class='flex items-center justify-center size-12 bg-accent rounded-xl'
        >
          <Icon name='flower' size={36} />
        </div>
        <h3 class='text-black'>Pflasterbau</h3>
        <p class='text-gray'>
          One way or another, the negative impact of the product functionality
          is recognized by The Agend One way or another, the negative
        </p>

        <a class='text-black flex items-center' href='/'
          >mehr erfahren <span><Icon name='arrow-right' size={38} /></span></a
        >
      </div>
      <!-- item -->
      <div
        class='grid justify-items-center md:justify-items-start
        grid-rows-subgrid row-span-4'
      >
        <div
          class='flex items-center justify-center size-12 bg-accent rounded-xl'
        >
          <Icon name='flower' size={36} />
        </div>
        <h3 class='text-black'>Pflasterbau</h3>
        <p class='text-gray'>
          One way or another, the negative impact of the product functionality
          is recognized by The Agend
        </p>

        <a class='text-black flex items-center' href='/'
          >mehr erfahren <span><Icon name='arrow-right' size={38} /></span></a
        >
      </div>
    </div>
  </div>
</section>
