---
import MarqueeEffect from "../MarqueeEffect.astro";
---

<section class='w-full h-full px-4'>
  <div class='container'>
    <h4 class='mb-8 flex items-center gap-x-2'>
      <span class='inline-block bg-accent size-4 rounded-full'
      ></span>Testemonials
    </h4>
    <span class='inline-block bg-gray w-full h-[1px] mb-12'></span>
    <h2>What our customers say</h2>
  </div>

  <!-- grid -->
  <MarqueeEffect />
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
</script>
