---
import SubtitleLine from "../SubtitleLine.astro";
---

<section class='w-full h-full'>
  <div class='container flex flex-col pt-48'>
    <h1 class='text-center mb-16 lg:mb-32'>Blog</h1>

    <SubtitleLine subTitle='Unser News' />

    <p class='text-center text-xl md:text-left leading-8 lg:w-9/12'>
      Let's consider, that any treatment must take into account the possibility
      of the ultimate advantage of compliant expertise over alternate practices.
      The main reason of the interconnection of major outcomes with productivity
      boosting is to facilitate The Stem of Universal Balance (Rodger Andre in
      The Book of the Integrated Collection of Software Engineering Standards)
    </p>
  </div>
</section>
