---
import BentoGrid from "../BentoGrid.astro";
---

<!-- <section>
  <BentoGrid
    title='Garden'
    desc='Curiously, a key factor of the internal resources immensely changes the principles of The Advancement of Competent Progress
'
    day='April 2024'
    image1='berlin1.jpg'
    image2='berlin2.jpg'
    image3='berlin3.jpg'
    image4='berlin4.jpg'
  />
</section> -->
